@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}


/* Shimmer Animation */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: shimmer 1.6s infinite;
  background: linear-gradient(
    to right,
    transparent,
    rgba(229, 231, 235, 0.9),
    transparent
  );
}